main {
  section {
    display: flex;
    h3{
      font-weight: 300;
    }
  }
}
.mat-form-field-flex {
  background-color: white !important;
}
.content-container {
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;
}
::ng-deep .mat-form-field-flex{
  height: 50px;
  background-color: white !important;
  font-size: 10px;   
}
::ng-deep .mat-select-value{
  margin-top: 15px;
}

.filters-container {
  display: flex;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  .btn {
    button {
      width: 205px;
      background-color: var(--button-color);
    }
  }

  .pesquisar {
    display: flex;
    mat-form-field {
      min-width: 400px;
    }
  }
}

.table-container {
  margin-top: 20px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn-nova-ordem {
  background-color: var(--button-color);
}

table {
  width: 100%;
  text-align: center;
  tr, td, th {
    text-align: center;
    width: 320px;
   
  }
  a{
    max-width: 100px !important;
    span{
      color: var(--button-color);
    }
  }

}

.filters {
  width: 100% !important;
  h5 {
    font-weight: normal;
    margin-bottom: 10px;
  }
}

.title-pesquisar {
  margin-bottom: 10px;
}

mat-form-field {
  font-size: 1.3rem;
}

mat-label {
  font-size: 1.4rem;
}

.search-form {
  display: flex;
  justify-content: space-between;
  .tpPesquisa {
    margin-right: 10px;
  }

  .fields {
    margin-right: 10px;
    mat-form-field {
      width: 100%;
    }
  }
  .btn-sbmt {
    height: fit-content;
    top: 0;
  }
}

.goToLink {
  color: #3f51b5;
}

@media (max-width: 900px) {
  inova-sidebar {
    display: none;
  }

  .content-container {
    grid-column: 1/11;
  }

  section {
    width: 100%;
    padding-left: 20px;
  }

  .cdk-overlay-pane {
    max-width: 100vw !important;
  }

  .filters-container {
    padding-bottom: 60px;

    .btn-nova-ordem {
      left: 20px;
      top: 60px;
    }
  }

  .search-form {
    display: block;

    button {
      float: right;
    }
  }

  .first-line {
    display: inline;

    button {
      margin-bottom: 15px;
      margin-top: 5px;
    }
  }
}
