<div class="nav-container">
  <nav>
    <a class="nav-title-link" routerLink="/ordens-pagamento" style="display: flex; justify-content: space-between; width: 50%;">
      <h2 class="nav-title" (click)="openNav()">&#9776;</h2>
      <a style="margin-left: 10px;">Inova Cartórios</a>
    </a>
    <ul class="nav-actions">
      <li class="nav-user">
        <span>
          <ul>
            <li>
              <p>{{ name }}</p>
            </li>
            <li><a routerLink="/login">Sair</a></li>
          </ul>
        </span>
      </li>
      <li class="nav-avatar">
        <span class="material-icons">
          account_circle
        </span>
      </li>
    </ul>
  </nav>

  <mat-menu class="menu-hamb" xPosition="after" #menu="matMenu">
    <div class="user-mobile">
      <span class="material-icons">
        account_circle
      </span>

      <p>{{ name }}</p>

      <a routerLink="/login">Sair</a>
    </div>

    <a routerLink="/ordens-pagamento">
      <button class="menu-btn" mat-menu-item>
        <span class="material-icons">library_books</span>
        Ordens de Pagamento
      </button>
    </a>
  </mat-menu>
</div>
