<!-- <inova-navbar-login></inova-navbar-login>
 -->


<main>
  <form [formGroup]="userForm" autocomplete="false" (ngSubmit)="login()">
    <!--    <mat-card>
      <mat-card-title><img src="../../assets/logo-small.png" /></mat-card-title>
      <mat-card-subtitle>Login</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput required placeholder="teste@teste.com" value="" formControlName="email" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input type="password" matInput required value="" formControlName="senha" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Entrar</button>
      </mat-card-actions>
    </mat-card> -->

    <div class="flex">
      <div class="img">
        <img src="../../assets/logo-small.jpg" />
      </div>
      <div class="data">
        <h3>Seja bem-vindo</h3>
        <p>Faça o login para acessar sua conta:</p>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="email" matInput required value="" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input type="password" matInput required value="" placeholder="email" formControlName="senha" />
        </mat-form-field>
        <mat-card-actions>
          <button [disabled]="userForm.invalid" type="submit" mat-raised-button color="primary">Continuar</button>
        </mat-card-actions>
      </div>
    </div>

  </form>
</main>
<inova-loading *ngIf="loading"></inova-loading>